.button {
  padding: 21px 39px 21px 37px;
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  color: #c7b299;  
}

.button-primary {
  background-color: #998675;
}

.button-primary:hover {
  background-color: rgba(17, 17, 17, 0.7);  opacity: 0.85;
}

.button-secondary {
  color: #8c8c8c;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.button-secondary:hover {
  color: #ffffff;
  background-color: #998675;  opacity: 0.9;
}

.button-secondary-is-active {
  color: #ffffff;
  background-color: #998675;
}

.button-large {
  padding: 16px 32px;
}
.button-small {
  padding: 4px 8px;
}
.button-block {
  width: 100%;
}